body {
    font-family: Arial, sans-serif;
    background-color: #f5f0e1; /* うっすいクリーム色 */
}

.total-section {
    margin-bottom: 20px; /* 下部のマージンを追加 */
}

.product-list {
    width: 100%;
}

.product-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.product-item input, .product-item select {
    margin-right: 10px;
    padding: 5px;
    font-size: 16px;
    width: 150px;
}

.product-price {
    -moz-appearance: textfield; /* Firefox用 */
}

.product-price::-webkit-outer-spin-button, 
.product-price::-webkit-inner-spin-button {
    -webkit-appearance: none; /* Chrome、Safari用 */
    margin: 0;
}

.tax-price {
    font-weight: bold;
    color: #333;
}

.tax-price-with-correction {
    font-weight: bold;
    color: #007BFF; /* 修正価格表示用の色 */
}

h1, button, p, label {
    font-size: 18px; /* ボタンとタイトル以外の文字の大きさを統一 */
}

button {
    padding: 10px 15px;
    background-color: #a86cb2; /* ポップな色のボタン */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #8e5a98; /* ホバー時の色 */
}

/* ボタンの位置を調整するスタイル */
#add-product-btn {
    margin-bottom: 10px; /* ボタンと合計金額の間にスペースを追加 */
}
